<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="sooms">
    <meta name="date" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <title>회사등록</title>
</head>

<body>
<form action="cRegister" method="post" enctype="multipart/form-data" name="cRegiForm">

    <table>
        <caption>회사등록</caption>

        <tr>
            <th>회사이름</th>
            <td><input type="text" name="cName" required size="30"/></td>
        </tr>

        <tr>
            <th>회사주소</th>
            <td>
                <input type="text" id="sample6_postcode" placeholder="우편번호"
                       size="25"/>
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"/><br>
                <input type="text" size="40" id="sample6_address" placeholder="주소"/><br>
                <input type="text" size="40" id="sample6_detailAddress" placeholder="상세주소"/>
                <input type="hidden" id="cAddr" name="cAddr"/>
            </td>
        </tr>

        <tr>
            <th>연락처</th>
            <td><input type="text" name="cPhone" required size="30"/></td>
        </tr>

        <tr>
            <th colspan="2">
                <input type="button" value="등록" id="submitForm"/>
            </th>
        </tr>
    </table>
</form>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();

            }
        }).open();
    }

    $('#submitForm').click(function () {
        let cAddr = $('#cAddr');

        let addr1 = $('#sample6_postcode').val();
        let addr2 = $('#sample6_address').val();
        let addr3 = $('#sample6_detailAddress').val();

        let addr = "(" + addr1 + ")" + addr2 + ", " + addr3;

        cAddr.val(addr);

        cRegiForm.submit();

    });

</script>

</html>
